<!-- MINI PROFILE: User info beside posts -->

<div class="tw-mini-profile">
  <div class="tw-mini-avatar">
    <!-- |avatar| -->
  </div>
  <div class="tw-mini-name">
    <!-- |name_formatted| -->
  </div>
  <div class="tw-mini-group">
    <!-- |group_name| -->
  </div>
  <div class="tw-mini-stats">
    <div><!-- |posts| --> posts</div>
    <div><!-- |custom_field_1| --></div>
    <div><!-- |custom_field_2| --></div>
  </div>
  <div class="tw-mini-icons">
    <!-- |profile_icons| -->
  </div>
</div>
