<!-- TOPIC LIST HEADERS: Wrapper around topic rows -->

<!-- Topic List Start -->
<div class="tw-topic-list">
  <div class="tw-topic-list-header">
    <span class="tw-col-icon"></span>
    <span class="tw-col-title"><!-- |lang_topic_title| --></span>
    <span class="tw-col-starter"><!-- |lang_topic_starter| --></span>
    <span class="tw-col-replies"><!-- |lang_replies| --></span>
    <span class="tw-col-views"><!-- |lang_views| --></span>
    <span class="tw-col-lastpost"><!-- |lang_last_post| --></span>
  </div>

<!-- Topic List End -->
</div>
